@import "tailwindcss";

body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
